{:highlights [{:id #uuid "66ec552d-ea63-4a48-9d7d-150e3f607db3",
               :page 6,
               :position {:bounding {:x1 552.0866088867188,
                                     :y1 519.3463134765625,
                                     :x2 618.5669555664062,
                                     :y2 537.5602416992188,
                                     :width 699.636,
                                     :height 950.4},
                          :rects ({:x1 582.7897338867188,
                                   :y1 519.3463134765625,
                                   :x2 618.5669555664062,
                                   :y2 536.9821166992188,
                                   :width 699.636,
                                   :height 950.4}
                                  {:x1 552.0866088867188,
                                   :y1 520.2345581054688,
                                   :x2 570.6361083984375,
                                   :y2 537.5602416992188,
                                   :width 699.636,
                                   :height 950.4}),
                          :page 6},
               :content {:text "holy alchemy"},
               :properties {:color "red"}}],
 :extra {:page 6}}
