{:highlights [{:id #uuid "66ef487b-9dad-4e74-b2af-9eddc2b144ae",
               :page 1,
               :position {:bounding {:x1 447.5013122558594,
                                     :y1 735.352783203125,
                                     :x2 604.7272338867188,
                                     :y2 753.9121704101562,
                                     :width 789.9999999999999,
                                     :height 1011.4194444444443},
                          :rects ({:x1 447.5013122558594,
                                   :y1 735.352783203125,
                                   :x2 604.7272338867188,
                                   :y2 753.9121704101562,
                                   :width 789.9999999999999,
                                   :height 1011.4194444444443}),
                          :page 1},
               :content {:text "The Dynamics of Friendship"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
