{:highlights [{:id #uuid "66ef487b-9dad-4e74-b2af-9eddc2b144ae",
               :page 1,
               :position {:bounding {:x1 447.5013122558594,
                                     :y1 735.352783203125,
                                     :x2 604.7272338867188,
                                     :y2 753.9121704101562,
                                     :width 789.9999999999999,
                                     :height 1011.4194444444443},
                          :rects ({:x1 447.5013122558594,
                                   :y1 735.352783203125,
                                   :x2 604.7272338867188,
                                   :y2 753.9121704101562,
                                   :width 789.9999999999999,
                                   :height 1011.4194444444443}),
                          :page 1},
               :content {:text "The Dynamics of Friendship"},
               :properties {:color "yellow"}}
              {:id #uuid "66ef48ae-5f2e-4d52-a6e0-cd03c5ab8436",
               :page 1,
               :position {:bounding {:x1 147.67982482910156,
                                     :y1 636.0311889648438,
                                     :x2 311.45794677734375,
                                     :y2 660.3635864257812,
                                     :width 789.9999999999999,
                                     :height 1011.4194444444443},
                          :rects ({:x1 283.0860595703125,
                                   :y1 636.0311889648438,
                                   :x2 311.45794677734375,
                                   :y2 655.0979614257812,
                                   :width 789.9999999999999,
                                   :height 1011.4194444444443}
                                  {:x1 147.67982482910156,
                                   :y1 641.7227783203125,
                                   :x2 272.81683349609375,
                                   :y2 660.3635864257812,
                                   :width 789.9999999999999,
                                   :height 1011.4194444444443}),
                          :page 1},
               :content {:text "The Relationship God Seeks"},
               :properties {:color "yellow"}}
              {:id #uuid "66ef48ca-e8a6-49b0-b981-49ec2271b580",
               :page 2,
               :position {:bounding {:x1 394.484375,
                                     :y1 896.65625,
                                     :x2 593.4132080078125,
                                     :y2 914.65625,
                                     :width 773.6707516339869,
                                     :height 1022.3529411764705},
                          :rects ({:x1 394.484375,
                                   :y1 896.65625,
                                   :x2 593.4132080078125,
                                   :y2 914.65625,
                                   :width 773.6707516339869,
                                   :height 1022.3529411764705}
                                  {:x1 427.046875,
                                   :y1 899.65625,
                                   :x2 537.53125,
                                   :y2 912.546875,
                                   :width 773.6707516339869,
                                   :height 1022.3529411764705}),
                          :page 2},
               :content {:text "Stages in the Growth of Friendship"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
